.password {
  width: 150px;
  height: inherit;
  margin-left: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-size: 18px;
}

#login {
  margin-bottom: 120px;
}

#login hr {
  width: 60%;
}

#forgot a {
  float: left;
}