.password {
  width: 150px;
  height: inherit;
  margin-left: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-size: 18px;
}

#login {
  margin-bottom: 120px;
}

#login hr {
  width: 60%;
}

#forgot a {
  float: left;
}

.divider{
  position:absolute;
  left:50%;
  top:10%;
  bottom:10%;
  border-left:1px solid white;
}

nav .spacer {
  margin-left: 10px;
}

.list-margin {
  margin-top: 20px;
}

.list-item {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-bottom: 10px;
}

.list-name {
  align-self: center;
  font-weight: bold;
  font-size: 20px;
}

.list-btns {
  display: inline-grid;
  grid-column: 2;
  grid-template-columns: auto;
  grid-row: 1;
  grid-column-gap: 10px;
}

.grid-btn {
  grid-row: 1;
  justify-self: center;
}